env/*
*.pyc
.env*
env.json
.vscode*
.cache*
.env
.vscode/settings.json
*.log
.env
venv/

interact.py
Procfile.local
run.py
ngrok*


*.sqlite3
staging_data.json

\.pytest_cache/

lucid_api_oldtesssssts/

lucid_api_tests/

django/staticfiles
celerybeat*